{% extends 'base.html' %}

{% block title %}
<title>Available Assets</title>
{% endblock %}

{% block formstyling %}
<style>
    .bordered-table {
        border-collapse: collapse;
        width: 60%;
        margin: 30px auto;
    }

    .bordered-table th, .bordered-table td {
        border: 1px solid #3875d7;
        padding: 8px;
        text-align: left;
    }

    .bordered-table th {
        background-color: #004DB1;
        color: white;
    }

    h2 {
        background: #d7d7d7;
        padding: 20px;
        border-radius: 20px;
        width: 60%;
        margin: 0 auto;
    }

    h1 {
        background: #ffb600;
        margin-bottom: 40px;
        padding: 20px;
    }
</style>
{% endblock %}

{% block content %}
<section class="home-section">
    <div class="text">Available Assets</div>
    <!-- Page content -->
    <main>
        <table class="bordered-table">
                <thead>
                <tr>
                    <th>Asset ID</th>
                    <th>Resource Asset Number</th>
                    <th>Model</th>
                    <th>Manufacturer</th>
                    <th>Purchase Date</th>
                    <th>Asset Owner Name</th>
                    <th>Contact</th>
                </tr>
                </thead>
                <tbody>
                {% for asset in assets %}
                <tr>
                    <td>{{ asset.asset_id }}</td>
                    <td>{{ asset.resource_asset_number }}</td>
                    <td>{{ asset.model }}</td>
                    <td>{{ asset.manufacturer }}</td>
                    <td>{{ asset.purchase_date }}</td>
                    <td>{{ asset.first_name }} {{ asset.last_name }}</td>
                    <td>{{ asset.user_email }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
    </main>
</section>
{% endblock %}