{% extends 'base.html' %}

{% block title %}
<title>Dashboard</title>
{% endblock %}

{% block formstyling %}
<style>
    .buttons {
        width: 200px;
        margin: 0 auto;
        display: inline;
    }

    .action_btn {
        width: 200px;
        margin: 0 auto;
        display: inline;
    }

    button {
        background-color: white;
        color: black;
        border: 2px solid #004DB1;
        transition-duration: 0.4s;
        width: 25%;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
    }

    button:hover {
        background-color: #004DB1;
        color: white;
    }

    .bordered-table {
        border-collapse: collapse;
        width: 60%;
        margin: 30px auto;
    }

    .bordered-table th, .bordered-table td {
        border: 1px solid #3875d7;
        padding: 8px;
        text-align: left;
    }

    .bordered-table th {
        background-color: #004DB1;
        color: white;
    }

    h2 {
        background: #d7d7d7;
        padding: 20px;
        border-radius: 20px;
        width: 60%;
        margin: 0 auto;
    }

    h1 {
        background: #ffb600;
        margin-bottom: 40px;
        padding: 20px;
    }


</style>
{% endblock %}

{% block content %}
<section class="home-section">
    <!--Success message-->
    {% if messages %}
    <div id="messages-container">
        {% for message in messages %}
        <p><span>&#10004;</span>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <!-- Page content-->
    <h1>Dashboard</h1>
    <main>
        <h2>Currently Borrowed Assets</h2>
            <table class="bordered-table">
                <thead>
                <tr>
                    <th>Asset ID</th>
                    <th>Model</th>
                    <th>Borrow Date</th>
                </tr>
                </thead>
                <tbody>
                {% for log in logs %}
                <tr>
                    <td>{{ log.asset_ID }}</td>
                    <td>{{ log.model }}</td>
                    <td>{{ log.borrow_date }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        <div>
            <h2>Available Assets</h2>
            <table class="bordered-table">
                <thead>
                <tr>
                    <th>Asset ID</th>
                    <th>Model</th>
                    <th>resource asset number</th>
                </tr>
                </thead>
                <tbody>
                {% for asset in assets %}
                <tr>
                    <td>{{ asset.asset_id }}</td>
                    <td>{{ asset.model }}</td>
                    <td>{{ asset.resource_asset_number }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


    </main>
</section>
{% endblock %}