{% extends 'base.html' %}

{% block title %}
<title>Dashboard</title>
{% endblock %}

{% block formstyling %}
<style>
    .buttons {
        width: 200px;
        margin: 0 auto;
        display: inline;
    }

    .action_btn {
        width: 200px;
        margin: 0 auto;
        display: inline;
    }

    button {
        background-color: white;
        color: black;
        border: 2px solid #004DB1;
        transition-duration: 0.4s;
        width: 25%;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
    }

    button:hover {
        background-color: #004DB1;
        color: white;
    }

    .bordered-table {
        border-collapse: collapse;
        width: 60%;
        margin: 30px auto;
    }

    .bordered-table th, .bordered-table td {
        border: 1px solid #3875d7;
        padding: 8px;
        text-align: left;
    }

    .bordered-table th {
        background-color: #004DB1;
        color: white;
    }

    h2 {
        font-size: 16px;
        background: #d7d7d7;
        padding: 20px;
        border-radius: 20px;
        width: 60%;
        margin: 0 auto;
    }

    h1 {
        background: #ffb600;
        margin-bottom: 25px;
    }

    input {
        background-color: #004DB1;
        color: white;
        padding: 2%;
        border: 1px solid #004DB1;
    }

    input:hover {
        background-color: #ffb600;
        color: black;
        cursor: pointer;
    }
</style>
{% endblock %}

{% block content %}
<section class="home-section">
    <!-- Page content-->
    <h1>Dashboard</h1>
    <!--Success message-->
    {% if messages %}
    <div id="messages-container" style="margin-top: -25px; margin-bottom: 25px;">
        {% for message in messages %}
        <p><span>&#10004;</span>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <main>
        <h2>Currently Borrowed Assets</h2>
            <table class="bordered-table">
                <thead>
                <tr>
                    <th>Asset ID</th>
                    <th>Model</th>
                    <th>Resource asset number</th>
                    <th>Sign-out Date</th>
                    <th>Return Date</th>
                </tr>
                </thead>
                <tbody>
                {% for log in logs %}
                {% if log.returned == False %}
                <tr>
                    <td><a href="https://datasafely.online.miradore.com/Device/{{ log.asset_ID }}">{{ log.asset_ID }}</a></td>
                    <td>{{ log.model }}</td>
                    <td>{{ log.resource_asset_number }}</td>
                    <td>{{ log.sign_out_date }}</td>
                    <td>{{ log.return_date }}</td>
                    <td style="border: transparent;">
                        <form action="{% url 'frontend:return' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="asset" value="{{ log.id }}">
                            <input type="submit" value="Return">
                        </form>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        <div>
            <h2>Available Assets</h2>
            <table class="bordered-table">
                <thead>
                <tr>
                    <th>Asset ID</th>
                    <th>Model</th>
                    <th>Resource asset number</th>
                </tr>
                </thead>
                <tbody>
                {% for asset in assets %}
                <tr>
                    <td><a href="https://datasafely.online.miradore.com/Device/{{ asset.asset_id }}">{{ asset.asset_id }}</a></td>
                    <td>{{ asset.model }}</td>
                    <td>{{ asset.resource_asset_number }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</section>
{% endblock %}