{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Upload signature</title>
{% endblock %}

{% block formstyling %}
<style>
    #container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        margin: 0 auto;
        width: 50%;
    }

    input[type=submit] {
        width: 100%;
        background-color: #004DB1;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #3875d7;
    }

    .input {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .error {
        color: red;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        background: #ffb600;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 25px;
    }

    #buttons {
        display: flex;
        justify-content: space-evenly;
    }

    #cancelButton, input[type=submit] {
        width: 45%;
        background-color: #004DB1;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    #cancelButton:hover, input[type=submit]:hover {
        background-color: #3875d7;
    }
</style>
{% endblock %}

{% block content %}
    <section class="home-section">
        <h1>Resource Sign Out sheet</h1>
        <!-- Page content -->
        <main>
            <div id="container">
                <form action="{% url 'frontend:sig' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="input">
                        {{ form.signature.label }}:
                        {{ form.signature }}
                    </div>
                    <div class="input">
                        {{ form.log_id }}
                    </div>
                  <br>
                    <div id="buttons">
                        <input type="submit" value="Submit">
                        <input id="cancelButton" type="button" value="Cancel">
                    </div>
                </form>
            </div>
        </main>
    </section>
{% endblock %}

{% block script %}
<script>
    const cancelButton = document.getElementById("cancelButton");
    cancelButton.addEventListener('click', function () {
        window.location.href = "{% url 'frontend:cancel' %}?log={{ log_id }}";
    });
</script>
{% endblock %}