<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!--Page styling-->
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    {% block title %}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="sidebar">
    <div class="logo-details">
        <img class="icon" src="{% static 'images/logo.png' %}" style="width: 50%;">
        <div class="logo_name">CCIT Mobile Assets Tracking System</div>
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
        <!--Dashboard-->
        <li>
            <a href="{% url 'frontend:index' %}">
                <i class='bx bx-home'></i>
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <!--IT Help page-->
        <li>
            <a href="#">
                <i class='bx bx-user-voice'></i>
                <span class="links_name">IT Help</span>
            </a>
            <span class="tooltip">IT Help</span>
        </li>
        <!--Form-->
        <li>
            <a href="{% url 'frontend:form' %}">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Resource-sign off form</span>
            </a>
            <span class="tooltip">Resource-sign off form</span>
        </li>
        <!--Admin page-->
        {% if request.user.is_superuser %}
        <li>
            <a href="{% url 'admin:index' %}">
                <i class='bx bx-user-check'></i>
                <span class="links_name">Admin page</span>
            </a>
            <span class="tooltip">Admin page</span>
        </li>
        {% endif %}
        <!--Logout-->
        <li>
            <a href="{% url 'accounts:logout' %}">
                <i class='bx bx-log-out'></i>
                <span class="links_name">Log out</span>
            </a>
            <span class="tooltip">Log out</span>
        </li>
    </ul>
</div>
{% block content %}
{% endblock %}
<script>
    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");
    let searchBtn = document.querySelector(".bx-search");

    closeBtn.addEventListener("click", () => {
        sidebar.classList.toggle("open");
        menuBtnChange();//calling the function(optional)
    });

    searchBtn.addEventListener("click", () => { // Sidebar open when you click on the search iocn
        sidebar.classList.toggle("open");
        menuBtnChange(); //calling the function(optional)
    });

    // following are the code to change sidebar button(optional)
    function menuBtnChange() {
        if (sidebar.classList.contains("open")) {
            closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
        } else {
            closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");//replacing the iocns class
        }
    }
</script>
</body>
</html>