<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}
    <!--JQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <!-- Boxicons CDN -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!--Page styling-->
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    {% block formstyling %}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="sidebar open">
    <div class="logo-details">
        <img class="icon" src="{% static 'images/logo.png' %}" style="width: 50%;">
        <div class="logo_name">CCIT Mobile Assets Tracking System</div>
    </div>
    <ul class="nav-list">
        <!--Dashboard-->
        <li>
            <a href="{% url 'frontend:index' %}">
                <i class='bx bx-home'></i>
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <!--IT Help page-->
        <li>
            <a href="{% url 'user_manual:home' %}">
                <i class='bx bx-user-voice'></i>
                <span class="links_name">IT Help</span>
            </a>
            <span class="tooltip">IT Help</span>
        </li>
        <!--Form-->
        <li>
            <a href="{% url 'frontend:form' %}">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Resource sign-out form</span>
            </a>
            <span class="tooltip">Resource sign-out form</span>
        </li>
        <!--Admin page-->
        {% if request.user.is_superuser %}
        <li>
            <a href="{% url 'admin:index' %}">
                <i class='bx bx-user-check'></i>
                <span class="links_name">Admin page</span>
            </a>
            <span class="tooltip">Admin page</span>
        </li>
        {% endif %}
        <!--Logout-->
        <li>
            <a href="{% url 'accounts:logout' %}">
                <i class='bx bx-log-out'></i>
                <span class="links_name">Log out</span>
            </a>
            <span class="tooltip">Log out</span>
        </li>
    </ul>
</div>
{% block content %}
{% endblock %}
{% block script %}
{% endblock %}
</body>
</html>